*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

img {
  vertical-align: top;
}

input {
  font-family: inherit;
  outline: none;
}
