*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  vertical-align: top;
}

input {
  font-family: inherit;
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Kaushan_Script/KaushanScript-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  color: #333;
}

.container {
  width: 100%;
  max-width: 123rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.header {
  width: 100%;
  height: 100vh;
  min-height: 75rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
  background: url("../images/header/background.png") top/cover no-repeat;
  color: #fff;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100vh;
  min-height: 75rem;
}

.nav {
  margin-top: 2.9rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__logo {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__logo:hover {
  color: #fce38a;
}

.nav__item {
  display: inline-block;
  margin: 0 2.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  position: relative;
}

.nav__item--icon {
  width: 1.8rem;
  height: 1.8rem;
  fill: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__item:after {
  content: "";
  display: block;
  width: 100%;
  height: .3rem;
  background: #fce38a;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s;
  position: absolute;
  left: 0;
  bottom: -1.2rem;
}

.nav__item:hover, .nav__item.active {
  color: #fce38a;
}

.nav__item:hover:after, .nav__item.active:after {
  opacity: 1;
}

.nav__item:hover .nav__item--icon, .nav__item.active .nav__item--icon {
  fill: #fce38a;
}

.intro {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto 3rem;
  text-align: center;
}

.intro__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15rem;
  line-height: 0.9;
  margin: 3rem 0 8rem;
  position: relative;
}

.intro__title:after {
  content: "";
  display: block;
  width: 6rem;
  height: .3rem;
  margin: 0 auto;
  background: #fff;
  margin-top: 7.3rem;
}

.intro__suptitle {
  font-family: "Kaushan Script", cursive;
  font-size: 7.2rem;
}

.button {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 1.2rem 3rem;
  border: .3rem solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.button:hover {
  color: #333;
  background: #fff;
}

.slider {
  margin-bottom: 2.5rem;
}

.slider__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__item {
  width: 24%;
  font-size: 1.8rem;
  text-transform: uppercase;
  padding-top: 2.5rem;
  border-top: .3rem solid #fff;
  opacity: 0.7;
  position: relative;
}

.slider__item b {
  font-size: 2.4rem;
}

.slider__item.active {
  opacity: 1;
}

.slider__item.active:after {
  content: "";
  width: 25%;
  height: .3rem;
  position: absolute;
  background: #f38181;
  left: 0;
  top: -0.3rem;
  z-index: 2;
}

.section {
  padding: 12rem 0;
}

.section__suptitle {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 2.4rem;
}

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  margin: 1rem 0 9rem;
}

.section__title:after {
  content: "";
  display: block;
  width: 6rem;
  height: .3rem;
  margin: 0 auto;
  background: #f38181;
  margin-top: 4rem;
}

.section__text {
  text-align: center;
  width: 100%;
  max-width: 95rem;
  margin: 0 auto 10rem;
}

.section--light {
  background-color: #f8f8f8;
  padding: 7rem 0;
}

.section--no-space {
  padding-top: 0;
}

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  color: #999;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__inner {
  position: relative;
  background: #95e1d3;
}

.card__inner:hover .card__image {
  -webkit-transform: translate(-1rem, -1rem);
          transform: translate(-1rem, -1rem);
}

.card__inner:hover .card__image img {
  opacity: 0.1;
}

.card__inner:hover .card__text {
  opacity: 1;
}

.card__image {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__text {
  width: 100%;
  font-size: 1.8rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 2;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card__info {
  margin-top: 3rem;
  text-align: center;
}

.card__name {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}

.card__profession {
  color: #999;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  font-style: italic;
}

.statistics {
  background: #95e1d3;
}

.statistics__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 27rem;
  overflow: hidden;
}

.statistics__item {
  border-left: .1rem solid #b5eae0;
  width: 24rem;
  margin: 0 auto;
  padding: 9rem 0;
  text-align: center;
  color: #fff;
}

.statistics__item:last-child {
  border-right: .1rem solid #b5eae0;
}

.statistics__number {
  font-size: 7.2rem;
  line-height: 1.4;
}

.statistics__title {
  font-weight: 400;
  text-transform: uppercase;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3rem;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.service__image {
  display: block;
  margin-right: 2.8rem;
}

.service__title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  font-weight: 600;
}

.service:not(:first-of-type) {
  margin-top: 5rem;
  padding-top: 5rem;
  border-top: 0.1rem solid #e5e5e5;
}

.devices {
  background: url(../images/section_3/background.png) top/cover no-repeat;
  height: 85rem;
}

.devices__inner {
  height: 73rem;
  position: relative;
}

.devices__tablet-image {
  width: 57rem;
  height: 62rem;
  position: absolute;
  bottom: 0;
  left: 34.3rem;
  z-index: 1;
}

.devices__phone-image {
  width: 27.4rem;
  height: 47.6rem;
  position: absolute;
  bottom: -9.1rem;
  left: 75rem;
  z-index: 2;
}

.devices__item {
  -webkit-transition: .6s;
  transition: .6s;
}

.devices__item:hover {
  -webkit-transform: translateY(-6.2rem) scale(1.2);
          transform: translateY(-6.2rem) scale(1.2);
  z-index: 100;
}

.wedo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wedo__image {
  display: block;
  width: 57rem;
  height: 38rem;
  margin-right: 3rem;
}

.accordion {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.accordion__item {
  border: 0.1rem solid #e5e5e5;
  margin-bottom: 1rem;
}

.accordion__title {
  height: 5.8rem;
  padding: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.accordion__image {
  margin-right: 1.5rem;
  fill: #95e1d3;
  width: 3rem;
  height: 3rem;
}

.accordion__arrow {
  margin-left: auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.accordion__text {
  padding: 2rem 1.5rem;
  font-family: "Roboto", sans-serif;
  color: #999;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  overflow-y: scroll;
  line-height: 1.25;
  display: none;
}

.accordion .active .accordion__title {
  border-bottom: 0.1rem solid #e5e5e5;
}

.accordion .active .accordion__text {
  display: block;
  max-height: 18rem;
}

.accordion .active .accordion__arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.arrow--left {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.arrow--right {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.carousel {
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel__item {
  padding: 0 7.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carousel__image {
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
}

.carousel__image--speech {
  border: 0.3rem solid #95e1d3;
  padding: 4rem;
  width: 15rem;
  height: 15rem;
}

.carousel__content {
  margin-left: 6rem;
  font-size: 2.4rem;
}

.carousel__quote {
  color: #999;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-bottom: 2rem;
  line-height: 1.35;
}

.carousel__quote-author {
  font-family: "Kaushan Script", cursive;
  position: relative;
  margin-left: 7rem;
}

.carousel__quote-author:before {
  content: "";
  display: block;
  width: 6rem;
  height: .3rem;
  margin: 0 auto;
  background: #f38181;
  margin: 0;
  position: absolute;
  top: 50%;
  left: -7rem;
}

.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.social__item {
  padding: 1.5rem;
  background: #fce38a;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-right: .1rem solid #f9bd87;
}

.social__item:last-child {
  border: none;
}

.social__item:hover {
  background: #f38181;
}

.social__item:hover .social__icon {
  fill: #fff;
}

.social__icon {
  width: 2.6rem;
  height: 2.6rem;
  fill: #f38181;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos__item {
  height: 11rem;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.logos__item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
}

.portfolio__item {
  background: -webkit-gradient(linear, left top, left bottom, from(#f38181), to(#fce38a));
  background: linear-gradient(to bottom, #f38181, #fce38a);
  position: relative;
}

.portfolio__item:hover .portfolio__image {
  opacity: 0.1;
}

.portfolio__item:hover .portfolio__info {
  opacity: 1;
}

.portfolio__image {
  display: block;
  max-width: 100%;
  width: 100vw;
  height: auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__info {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
  width: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.portfolio__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff;
}

.portfolio__title {
  text-transform: uppercase;
  margin: 1.5rem 0 1rem;
}

.portfolio__text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
}

.clients {
  background: url(../images/section_8/background.png) bottom/cover no-repeat;
}

.clients__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 3.5rem 4rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.clients__image {
  margin-right: 3rem;
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.clients__name {
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0;
  position: relative;
}

.clients__name:after {
  content: "";
  display: block;
  width: 6rem;
  height: .3rem;
  margin: 0 auto;
  background: #f38181;
  position: absolute;
  left: 0;
  bottom: -4.7rem;
}

.clients__profession {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin-bottom: 4rem;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog__item {
  width: 38rem;
}

.blog__image {
  position: relative;
  display: block;
}

.blog__date {
  width: 6rem;
  height: 7rem;
  background: #95e1d3;
  color: #fff;
  text-align: center;
  padding-top: 1.2rem;
  position: absolute;
  left: -1rem;
  bottom: 1rem;
}

.blog__date--number {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.blog__date--month {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5rem;
}

.blog__content {
  margin-top: 1.9rem;
}

.blog__title {
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1.5rem;
}

.blog__stats {
  border-top: 0.1rem solid #e5e5e5;
  margin-top: 2rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__icon {
  margin-right: .7rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.blog__icon--views {
  width: 2rem;
  height: 1.2rem;
}

.blog__icon--comments {
  width: 1.6rem;
  height: 1.5rem;
}

.blog__number {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 300;
  color: #999;
  margin-right: 1.9rem;
}

.map {
  background: url(../images/map/background.png) center/cover no-repeat;
  padding: 5.7rem 0;
}

.map__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map__icon {
  width: 2rem;
  height: 2.6rem;
  display: block;
  margin: 0 auto 1.5rem;
  fill: #f38181;
  -webkit-transition: .3s;
  transition: .3s;
}

.map__link {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #f38181;
  -webkit-transition: .3s;
  transition: .3s;
}

.map__link:after {
  content: "";
  display: block;
  width: 6rem;
  height: .3rem;
  margin: 0 auto;
  background: #f38181;
  margin-top: 1.8rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.map__link:hover {
  color: #fce38a;
}

.map__link:hover:after {
  background: #fce38a;
}

.map__link:hover .map__icon {
  fill: #fce38a;
}

.footer {
  padding-top: 7.4rem;
  background: #f8f8f8;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7rem;
}

.footer__info {
  width: 40%;
}

.footer__logo {
  font-size: 4.6rem;
  color: #ccc;
  margin-bottom: 3.2rem;
}

.footer__followers {
  margin-top: 5rem;
  font-weight: 500;
}

.footer__followers b {
  font-size: 1.8rem;
}

.footer__social {
  margin-top: 1.8rem;
  padding-top: 1.8rem;
  border-top: 0.1rem solid #e5e5e5;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.5rem;
  color: #999;
}

.footer__social--icon {
  height: 1.6rem;
  margin-left: 1.3rem;
  fill: #95e1d3;
  -webkit-transition: .3s;
  transition: .3s;
}

.footer__social--icon:hover {
  fill: #f38181;
}

.footer__form {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form--email {
  width: 23rem;
  height: 4rem;
  border: 0.1rem solid #e5e5e5;
  border-right: none;
  padding-left: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

.footer__form--email::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

.footer__form--email:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

.footer__form--email::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

.footer__form--email::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
  color: #ccc;
}

.footer__form--submit {
  width: 15rem;
  border: 0.1rem solid #95e1d3;
  padding: 0 3.3rem;
  background: #95e1d3;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.footer__title {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.footer__blogs {
  width: 30%;
}

.footer__instagram {
  width: 22.5%;
}

.blogs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs__item:not(:first-of-type) {
  margin-top: 3rem;
}

.blogs__image {
  display: block;
  width: 12rem;
  height: 8rem;
  margin-right: 2rem;
}

.blogs__content {
  margin-top: 1rem;
}

.blogs__title {
  display: block;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.blogs__date {
  font-size: 1.3rem;
  color: #999;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-weight: 300;
}

.instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 27rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.instagram__item {
  display: block;
}

.instagram__image {
  width: 8.8rem;
  height: 8.8rem;
}

.instagram__link {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 300;
  display: block;
  margin-top: 2rem;
}

.instagram__link:hover {
  text-decoration: underline;
}

.copyright {
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.1rem solid #e5e5e5;
  font-weight: 600;
}

.copyright__link {
  color: #f38181;
  margin-left: .5rem;
}

.copyright__link:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */